# Fichiers d'environnement
.env

# Fichiers et répertoires Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.dist-info/
*.ipynb_checkpoints/
*.venv/
*.env

# Fichiers de logs
*.log
*.out
*.err

# Fichiers de base de données
*.sqlite3
*.db

# Fichiers de compilation
*.so
*.o
*.obj
*.exe